@charset "UTF-8";
body{min-height:100%;min-width:100%}
.wrapper{height:100%;width:460px;margin:0 auto}
.conteiner{position:absolute;top:50%;margin-top:-12.5%;width:460px}
.logo{width:460px;height:100%;margin:0 auto 19px;text-align:center}
.logo__img{height:39px;width:216px}
.accordeon,.accordeon-item{margin:0;padding:0;width:460px}
.accordeon-item{margin:0 0 5px;border-radius:21px;cursor:pointer;background-color:#e7e7e7}
.accordeon-item:nth-child(odd) .accordeon-item__header{background-color:#696666;color:#fff}
.accordeon-item:nth-child(even) .accordeon-item__header:hover,
.accordeon-item:nth-child(odd) .accordeon-item__header:hover
{color:#fff;background-color:#ff8663}
.accordeon-item:nth-child(even) .accordeon-item__header:hover .accordeon-item__marker,
.accordeon-item:nth-child(odd) .accordeon-item__header:hover .accordeon-item__marker
{border:7px solid transparent;border-top:12px solid #fff}
.accordeon-item:nth-child(even) .accordeon-item__header{background-color:#e7e7e7;color:#4f4f4f}
.accordeon-item__header{position:relative;width:418px;padding:10px 22px 10px 20px;border-radius:21px}
.accordeon-item__header-text{width:390px;margin:0;padding-right:18px;font:500 15px "Fira Sans";word-wrap:break-word}
.accordeon-item__marker{position:absolute;top:50%;right:22px;margin-top:-5px;
	width:0;height:0;border:7px solid transparent;border-top:12px solid #ff8663}
.accordeon-item__inner{width:420px;margin:0;padding:10px 20px 6px;display:none}
.accordeon-item__inner-item{margin-bottom:5px;list-style-type:none;list-style-position:inside;line-height:26px;font:300 15px "Fira Sans";word-wrap:break-word}
.accordeon .active .accordeon-item__header{color:#fff;background-color:#ff8663}
.accordeon .active .accordeon-item__header .accordeon-item__marker,
.accordeon .active .accordeon-item__header:hover .accordeon-item__marker
{top:50%;margin-top:-11px;border:7px solid transparent;border-bottom:12px solid #fff}
.accordeon .active .accordeon-item__inner{display:block}